.common {
    &Progress {
        margin-top: 60px;
        @include mobile {
            margin-top: 24px;
        }
        &::before {
            content: "";
            width:90%;
            height: 1px;
            background: $black;
            position: absolute;
            top: 24px;
            left: 24px;
            @include mobile {
                top: 16px;
                left: 16px;
            }
        }
        figure {
            z-index: 10;
            img {
                padding: 14px;
                @include mobile {
                    padding: 8px;
                    width: 32px;
                }
            }
        }
        span {
            font-size: 20px;
            border: 1px solid #030303;
            padding: 8px 0px;
            width: 48px;
            z-index: 10;
            @include mobile {
                line-height: 24px;
                width: 32px;
                padding: 4px 0;
            }
        }
    }
    &Tag {
        @include mobile {
            max-width: 540px;
        }
        span {
            padding: 4px 24px;
            border: 1px solid #000;
            border-left: 4px solid #000;
            box-sizing: border-box;
            cursor: pointer;
            &:hover {
                border-left: 4px solid #FBFF22;
                background-color: #000;
                color: #FFF;
                transition: .4s;
            }
        }

    }
    &Title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        outline: 3px solid #030303;
        padding: 24px 32px;
        @include mobile {
            padding: 16px 12px;
            outline: 2px solid #030303;
        }
        h2 {
            font-size: 64px;
            @include mobile {
                margin: 0;
                font-size: 24px;
            }
        }
        h3 {
            font-size: 32px;
            font-weight: bold;
            @include mobile {
                margin: 0;
                font-size: 16px;
            }
        }
    }
}
.NotoSans {
    font-family: Noto Sans TC;
}
.NotoSerif {
    font-family: Noto Serif TC;
}