.common {
    &Card {
        &List {
            display: flex;
            justify-content: space-between;
        }
        &Item {
            width: 32.099%;
            padding: 0;
            @include pad {
                width: 48.276%;
            }
            @include mobile {
                width: 100%;
            }
            h3 {
                font-size: 48px;
                padding-bottom: 12px;
                border-bottom: 3px solid #030303;
                    @include mobile {
                        font-size: 32px;
                        padding-bottom: 8px;
                }
            }
            h4 {
                font-size: 24px;
                font-weight: 700;
                padding-bottom: 12px;
                    @include mobile {
                    font-size: 18px;
                    padding-bottom: 8px;
                }
            }
            img {
                width: 100%;
                height: 255px;
            }
        }
        &Bar {
            border-top: 2px solid #030303;
            border-bottom: 2px solid #030303;
            p {
                cursor: pointer;
                &:hover {
                    border-bottom: 1px solid #000000;
                }
            }
            &Hover {
                span {
                    &:hover {
                        border-radius: 50%;
                        background-color: #FBFF22;
                        transition: .4s;
                    }
                }
            }
        }   
    }
}
.commmonTag {
    color: #000;
}
.commonPage {
    color: #000;
}
.loginHover {
    color: #000;
}
.commonEventTag {
    color: #000;
}
.page {
    &List {
        margin-top: 60px;
        column-gap: 8px;
        display: flex;
        justify-content: center;
        @include mobile {
            margin-top: 48px;
        }
    }
    &Item {
        width: 40px;
        height: 40px;
        outline: 1px solid #000000;
        padding: 8px 15px;
        cursor: pointer;
        &:hover {
            background-color: #000;
            color: #FBFF22;
            transition: .4s;
        }
    }
    &Arrow {
        outline: 1px solid #000000;
        width: 40px;
        height: 40px;
        &:hover {
            opacity: .7;
            transition: .4s;
        }
    }
}
.marquee {
    margin: 60px 0;
    @include mobile {
        margin: 32px 0;
    }
    & .swiper-slide {
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 3.2px;
        width: auto;
        color: #fbff22;
        background: #000;
        transition-timing-function: linear;
    }
    .swiper-wrapper {
        transition-timing-function: linear;
        @include pad {
            margin: 0 auto;
        }
    }
}