.order {
    &Header {
        h2 {
            font-size: 48px;
            line-height: 69px;
            padding-top: 48px;
            padding-bottom: 32px;
            @include pad {
                font-size: 40px;
            }
            @include mobile {
                padding: 24px 0;
                font-size: 32px;
                line-height: 46px;
            }
        }
    }
    &Form {
        img {
            width: 32px;
            height: 32px;
            @include mobile {
                margin: 0;
            }
        }
        h3 {
            font-size: 24px;
            line-height: 34px;
        }
        ::placeholder {
            color: $gray;
        }
    }
    &Btn {
        font-size: 20px;
        line-height: 29px;
        padding: 0 136px;
        color: #FFF;
        &:hover {
            color: #FBFF22;
            transition: .4s;
            svg {
                fill: #FBFF22;
                transition: .4s;
            }
        }
        @include pad {
            padding: 0;
            width: 100%;
        }
        @include mobile {
            padding: 0;
        }
        svg {
            fill: #FFF;
        }
    }
}
.payment {
    h2 {
        font-size: 48px;
        @include pad {
            font-size: 40px;
        }
        @include mobile {
            font-size: 32px;
            line-height: 46px;
            letter-spacing: 1.6px;
        }
    }
    &Form {
        h3 {
            font-size: 24px;
        }
        span {
            @include mobile {
                font-size: 14px;
            }
        }
        img {
            width: 32px;
            height: 32px;
        }
    }
    &Status {
        width: 676px;
        padding: 8px 12px;
        @include pad {
            width: 68.818%;
        }
        @include mobile {
            font-size: 14px;
            width: 100%;
            padding: 8px;
        }
    }
    &ID {
        &::placeholder {
            color: #878787;
        }
    }
    &Btn {
        font-size: 20px;
        padding: 0 94px;
        color: #FFF;
        &:hover {
            color: #FBFF22;
            transition: .4s;
            svg {
                fill: #FBFF22;
                transition: .4s;
            }
        }
        @include pad {
            padding: 0;
            width: 100%;
        }
        svg {
            fill: #FFF;
        }
    }
}
.checkout {
    &Header {
        span {
            font-size: 48px;
            @include mobile {
                font-size: 32px;
            }
        }
        h2 {
            font-size: 32px;
        }
    }
}