<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/images/logo.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>結帳3</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="login">
      <div class="container py-0">
        <div class="row">
          <div class="col-lg-4 col-md-6 mx-auto">
            <div class="loginHeader d-flex flex-column align-items-center">
              <img src="/assets/images/sparkler.png" alt="sparkler">
              <h2 class="text-primary fw-bold pt-4">會員登入</h2>
            </div>
            <div class="loginContent mt-4">
              <label for="account" class="pb-2">帳號</label>
              <input type="text" name="account" id="account" placeholder="請輸入帳號" class="form-control border border-2 border-primary rounded-0 bg-info mb-4 px-3 py-2" required>
              <label for="account" class="pb-2">密碼</label>
              <input type="text" name="password" id="password" placeholder="請輸入密碼" class="form-control border border-2 border-primary rounded-0 bg-info px-3 py-2" required>
              <a href="#" class="loginBtn d-flex align-items-center justify-content-center bg-primary text-white mt-lg-6 mt-md-6 mt-5">
                登入
                <img src="../assets/images/rounded-double-right 1.svg" alt="arrow">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

  </body>
</html>
