<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="shortcut icon" href="../assets/images/logo.ico">
    <title>結帳2</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="payment">
      <div class="container py-0">
        <div class="row mx-0">
          <div class="col-lg-6 col-md-8 col-12 mx-auto">
            <ol class="commonProgress d-flex justify-content-between position-relative">
              <li class="d-flex flex-column align-items-center">
                <figure class="bg-dark text-secondary">
                  <img src="../assets/images/verification-check 1.svg" alt="done">
                </figure>
                <p class="fw-bold pt-lg-2 pt-md-2 pt-1">訂單確認</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <span class="number d-flex justify-content-center align-items-center mb-0 bg-dark text-secondary">2</span>
                <p class="fw-bold pt-lg-2 pt-md-2 pt-1">結帳付款</p>
              </li>
              <li class="d-flex flex-column align-items-center">
                <span class="number d-flex justify-content-center align-items-center mb-0 bg-info">3</span>
                <p class="fw-bold pt-lg-2 pt-md-2 pt-1">訂購結果</p>
              </li>
            </ol>
          </div>
        </div>
        <div class="row mt-lg-8 mt-md-6 mt-5 mb-4">
          <div class="col-lg-6 col-md-8 col-12 mx-auto">
            <h2 class="fw-bold text-lg-center text-md-center text-start">
              返老還童-制服聯誼
            </h2>
          </div>
        </div>
        <div class="paymentStatus bg-dark text-secondary mx-auto">
          <h3 class="text-center d-lg-block d-md-none d-none">
            您的訂單已保留，請在2023/5/30 04:32 前完成繳費。若逾期未繳款，系統將取消您的訂單。
          </h3>
          <h3 class="text-center d-lg-none d-md-block d-block">
            您的訂單已保留，請在2023/5/30 04:32 前完成繳費。<br>若逾期未繳款，系統將取消您的訂單。
          </h3>
        </div>
        <div class="row mt-lg-6 mt-md-6 mt-5">
          <div class="col-lg-6 col-md-8 col-12 mx-auto px-lg-0 px-md-0 px-3">
            <ul>
              <li class="py-2 d-flex justify-content-between border-2 border-primary border-top">
                <h4 class="fw-bold">訂單編號</h4>
                <span>892746123</span>
              </li>
              <li class="py-2 d-flex justify-content-between border-bottom border-top border-primary">
                  <h4 class="fw-bold">票卷</h4>
                  <span>改頭換面票（含大改造）$8000</span>
              </li>
            </ul>
            <form action="order.html" class="paymentForm d-flex flex-column mt-lg-8 mt-md-6 mt-6" novalidate>
                <figure class="mx-auto">
                  <img src="../assets/images/sparkler.png" alt="sparkle">
                </figure>
                <h3 class="mx-auto fw-bold my-4">結帳資訊</h3>
                <label for="ticketInfo" class="mb-2 ">取票資訊</label>
                <input type="text" name="ticketInfo" id="ticketInfo" placeholder="請輸入身分證字號或護照號碼" class="form-control paymentID bg-info border border-2 border-primary rounded-0 mb-1 px-4 py-2" required>
                <span id="ticketInfoFeedback" class="invalid-feedback">請輸入身分證字號或護照號碼</span>
                <span class="mb-4 text-light">
                  請輸入您的<span class="text-third">身分證字號</span>供取票使用，外籍人士請輸入 <span class="text-third">護照號碼</span></span>
                <label>付款方式</label>
                <div class="d-flex align-items-center my-2">
                  <input type="radio" name="creditCard" id="creditCard" value="信用卡" class="me-2">
                  <h4>信用卡</h4>
                </div>
                <div class="d-flex align-items-center">
                  <input type="radio" name="atmAccount" id="atmAccount" value="ATM虛擬帳號" class="me-2">
                  <h4>ATM虛擬帳號</h4>
                </div>
                <a href="checkout.html" class="paymentBtn bg-primary text-white mt-lg-6 mt-md-6 mt-5 mx-auto py-2 text-center d-flex align-items-center justify-content-center">
                  確認訂單並繳費 $8000
                  <img src="../assets/images/rounded-double-right 1.svg" alt="arrow" class="ms-1">
                </a>
            </form>
          </div>
        </div>
    </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  </body>
</html>
